<footer class="text-center">
    <div class="row">
        <div class="col-sm-12">
            <p id="copyright">
                &copy; <%= new Date().getFullYear() %> Mark MEDIA. Wszelkie prawa zastrzeżone
            </p>
        </div>
    </div>
</footer>