<nav>
  <div class="logo">
    <h4>
      <span style="font-weight: bold;">Mark</span>
      <span style="color: #ffdf2b; font-weight: bold;">Media</span>
    </h4>
  </div>
  <ul class="nav-links">
    <li><a href="#">O nas</a></li>
    <li><a href="#">Cennik</a></li>
    <li><a href="#">Kontakt</a></li>
    <li><a href="#">Blog</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>