<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header-common.ejs') %>

    <!-- <link rel="stylesheet" href="css/about.css">
    <script src="js/about.js"></script> -->

  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="content">
      <div class="text-center" style="padding: 12vh 6vh 6vh 6vh;">
        <h1 style="font-size: 3rem;">
          O nas
        </h1>
        <p style="font-size: 1.2rem;">
          Nasza agencja marketingowa pomaga przedsiębiorcom rozwinąć biznes poprzez pozyskiwanie większej ilości klientów oraz zleceń online. 
        </p>
        <p style="font-size: 1.2rem;">
          Wspomniane wyżej rezulataty realizujemy tworząc treści sprzedażowe dla biznesów z którymi nawiązaliśmy współprace, 
          prowadząc ich konta firmowe na Facebook'u i Instagramie 
          oraz poprzez tworzenie i publikowanie płatnych reklam na Facebook'u, Instagramie oraz w wyszukiwarce Google.
        </p>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>