<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header-common.ejs') %>

    <!-- <link rel="stylesheet" href="css/contact.css">
    <script src="js/contact.js"></script> -->

  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="content">
      <div class="text-center" style="padding-top: 9vh;">
        <h1>
          Kontakt
        </h1>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>