<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header-common.ejs') %>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div id="first-main" class="main-element-scaffold pink-bg">
      <div class="centered gold-text">
        <span>Czy już sama myśl o reklamowaniu się w internecie, przyprawia Cię o niepokój?</span>
      </div>
    </div>

    <div id="second-main" class="row main-element-scaffold gold-bg">
      <div class="image-half col-sm-6">
        <img src="img/man-confused.jpg">
      </div>
      <div class="col-sm-6 text-half chili-pepper-text center-positioning">
        <h1>Gdzie jest Twój ból?</h1>
        &nbsp;
        <h2>Nie wiesz jak to się robi?</h2> 
        &nbsp;
        <h3>Gdzie zacząć?</h3> 
        &nbsp;
        <h4>Czy po prostu Cie to nie interesuję?</h4>
      </div>
    </div>

    <div id="third-main" class="row chili-pepper-bg center-positioning">
      <h3>Chciałbyś stale pozyskiwać nowych klientów jednocześnie skupiając się wyłącznie na swojej pracy?</h3>
    </div>

    <div id="fourth-main" class="row main-element-scaffold cyan-bg">
      <div class="col-sm-6 text-half white-text center-positioning">
        &nbsp;
        <h2>Świetnie się złożyło, że się poznaliśmy ponieważ jesteśmy przekonani, że możemy Ci pomóc uzyskać oczekiwany stan rzeczy!!</h2>
        &nbsp;
      </div>
      <div class="image-half col-sm-6">
        <img src="img/man-full-of-life.jpg">
      </div>
    </div>

    <div id="fifth-main" class="row chili-pepper-bg center-positioning">
      <p>
        Twoi obecni klienci oraz zlecenia są krwią płynącą w aortach Twojej firmy. Niestety, upływający w każdej chwili czas przybliżający Cie 
        do kolejnych cyklicznych płatności sprawia, że się wykrwawiasz. 
      </p>
      <p>
        Możesz się z tym niezgodzić, walić głową w mur, lecz im wcześniej uświadomisz sobie, że 
      <strong>potrzebujesz stale napływających nowych klientów i nowych zleceń</strong> - 
      tym bardziej zwiększysz szanse na długoterminowe prosperowanie swojego biznesu.
      </p>
    </div>

    <div id="sixth-main" class="main-element-scaffold pink-bg">
      <p class="gold-text" style="font-size: 2.1rem;">
        Do reklamy w sieci trzeba podejść jak do każdej innej inwestycji!
      </p>
      <p class="gold-text">
        Tak jak nasiono potrzebuję czasu, wody i światła by stać się drzewm, 
        tak tworzenie konwertującego leja sprzedażowego dla Twojej firmy wymaga powzięcia pewnych środków oraz ich odpowiedniego ulokowania.
      </p>
      <p class="gold-text" style="font-size: 2.1rem;">
        Potrzebne jest zrozumienie, opanowanie, czas i pieniądze.
      </p>
    </div>



    Działania reklamowe obecnie oferowane przez nasza firmę dzielą się na dwie główne gałęzie.

    1. Prowadzenie kont na serwisach społecznościowych - Facebook oraz Instagram. 
    Wiąrze się to z tworzeniem (oraz publikacją z użyciem płatnych reklam) - postów związanych z tematyką Twojej działalności/biznesu oraz organizowaniem konkursów mających na celu zwiększenie zainteresowania tym co oferujesz jako firma!
    
    Wszystkie te zabiegi mają na celu dać pewną wartość Twojemu potencjalnemu klientowi pokazując mu przy tym, że znasz się na tym czym się zajmujesz. 

    Konsekwencją takich zabiegów będzie drastycznie zwiększenie szansy na to, że osoba taka - szukając potrzebnego produktu czy usługi - zdecyduję się na kontakt właśnie z Twoją firmą! 


    
    2. Tworzeniem reklam (w postaci grafik, zdjęć, audio czy video) mających na celu przekierować potencjalnego klienta na Twój profil w mediach społecznościowych, stronę internetową 
    czy też specjalnie do tego celu utworzony przez nas - "landing page" zawierający informacje o Twojej ofercie wraz z nacechowaną persfazją zachętą do podjęcia akcji (zakupu). 
    
    Zabiegi te wymagają specjalistycznej wiedzy dotyczącej:
    - tworzenia grafik oraz video, 
    - tworzenia reklam
    <a href="/blog/what-is-copywriting" target="_blank">
      - copywriting'u (umiejętność pisania tekstów sprzedażowych)
    </a>
    - obsługi serwisów społecznościowych
    - targetowania (zrozumienie profilu osobowości grupy potencjalnych klientów) 
    - oraz szerokopojętego pojęcia zakrawającego o dziedziny takie jak psychologia czy socjologia
    
    Wszystko to po to by nie "przepalić" Twojego budżetu reklamowego zwiększając przy tym stale liczbę Twoich klientów!
    
    



    Jeśli marzysz o oddelegowaniu od siebie wszystkich tych zajęć ciesząc się przy tym dodatkowymi wpływami do kasy - pozostaw to nam!

    By ułatwić sobie decyzję - zapoznaj się 
    <a href="/pricing" target="_blank">
      z naszymi korzystnymi cenami! 
    </a>
    To najlepsza inwestycja dla Twojej firmy!
    
    
    


      <%- include('partials/footer.ejs') %>
    </body>
</html>