<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header-common.ejs') %>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div id="first-main" class="main-element-scaffold pink-bg">
      <div class="centered gold-text">
        <span>Czy już sama myśl o reklamowaniu się w internecie, przyprawia Cię o niepokój?</span>
      </div>
    </div>

    <div id="second-main" class="row main-element-scaffold gold-bg">
      <div class="image-half col-sm-6">
        <img src="img/man-confused.jpg">
      </div>
      <div class="col-sm-6 text-center text-half chili-pepper-text">
        <h1>Gdzie jest Twój ból?</h1>
        &nbsp;
        <h2>Nie wiesz jak to się robi?</h2> 
        &nbsp;
        <h3>Gdzie zacząć?</h3> 
        &nbsp;
        <h4>Po prostu Cie to nie interesuję?</h4>
        &nbsp;
        <h3>Chciałbyś stale pozyskiwać nowych klientów jednocześnie skupiając się wyłącznie na swojej pracy?</h3>
      </div>
    </div>

    <div id="third-main" class="row main-element-scaffold cyan-bg">
      <div class="col-sm-6 text-center text-half white-text">
        &nbsp;
        <h2>Świetnie się złożyło, że się poznaliśmy ponieważ jesteśmy przekonani, że możemy Ci pomóc uzyskać oczekiwany stan rzeczy!!</h2>
        &nbsp;
      </div>
      <div class="image-half col-sm-6">
        <img src="img/man-full-of-life.jpg">
      </div>
    </div>
  </body>
</html>