<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header-common.ejs') %>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div id="first-main" class="main-element-scaffold pink-bg">
      <div class="centered gold-text">
        <span>Czy już sama myśl o reklamowaniu się w internecie, przyprawia Cię o niepokój?</span>
      </div>
    </div>

    <div id="second-main" class="row main-element-scaffold gold-bg">
      <div class="image-half col-sm-6">
        <img src="img/man-confused.jpg">
      </div>
      <div class="col-sm-6 text-half chili-pepper-text center-positioning">
        <h1>Gdzie jest Twój ból?</h1>
        &nbsp;
        <h2>Nie wiesz jak to się robi?</h2> 
        &nbsp;
        <h3>Gdzie zacząć?</h3> 
        &nbsp;
        <h4>Czy po prostu Cie to nie interesuję?</h4>
      </div>
    </div>

    <div id="third-main" class="row chili-pepper-bg center-positioning">
      <h3>Chciałbyś stale pozyskiwać nowych klientów jednocześnie skupiając się wyłącznie na swojej pracy?</h3>
    </div>

    <div id="fourth-main" class="row main-element-scaffold cyan-bg">
      <div class="col-sm-6 text-half white-text center-positioning">
        &nbsp;
        <h2>Świetnie się złożyło, że się poznaliśmy ponieważ jesteśmy przekonani, że możemy Ci pomóc uzyskać oczekiwany stan rzeczy!!</h2>
        &nbsp;
      </div>
      <div class="image-half col-sm-6">
        <img src="img/man-full-of-life.jpg">
      </div>
    </div>

    Twoi obecni klienci oraz zlecenia są krwią płynącą w aortach Twojej firmy. Niestety, upływający w każdej chwili czas przybliżający Cie 
    do kolejnych płatności, ZUS oraz państwo bezwględnie wyciągający rękę po swoją "daninę"...to wszystko sprawia, że się wykrwawiasz. 

    Możesz się z tym niezgodzić, walić głową w mur, lecz im wcześniej uświadomisz sobie, że 
    <strong>potrzebujesz stale napływających nowych klientów i nowych zleceń</strong> - 
    tym bardziej zwiększysz szanse na długoterminowe prosperowanie swojego biznesu.

    Do reklamy w sieci trzeba podejść jak do każdej innej inwestycji. 
    Tak jak nasiono potrzebuję czasu, wody i światła by stać się drzewm, 
    tak tworzenie konwertującego leja sprzedażowego dla Twojej firmy wymaga powzięcia pewnych środków oraz ich odpowiedniego ulokowania.

    <strong>Potrzebne jest zrozumienie, opanowanie, czas i pieniądze.</strong> 

    By nie zagłębiać się w szczególy techniczne które zapewne Cie nie interesują (od tego w końcu jesteśmy my) powiemy tylko, że reklama w sieci dzieli się na dwie główne gałęzie.

    1. Content marketing - czyli tworzenie i umieszcznie w sieci różnego rodzaju treści (w formie audio, video, zwykłego tekstu czy mieszanej) które mają na celu dać jakąś wartość potencjalnemu konsumentowi i pokazać mu, że znasz się na tym czym się zajmujesz. 
    Konsekwencją takich zabiegów będzie drastycznie zwiększenie szansy na to, że konsument zdecyduję się właśnie na Twoje produkty czy usługi! 

    2. Umieszczanie płatnych reklam we wszelkich serwisach dostępnych w sieci które to takową przestrzeń udostępniają na sprzedaż (wszystkie social media, google, partnerzy google, itd, itp). 
    Wymaga to specjalistycznej wiedzy dotyczącej obsługi tych serwisów oraz targetowania (zrozumienie grupy potencjalnych klientów) po to by nie przepalić budżetu reklamowego. 

    Dodatkowo sprawę implikuje potrzeba umiejętności obsługi programów do obróbki grafiki, audio czy video.
    
    Jak się zapewne domyślasz, najskuteczniejsze okaże się połączenie tych dwóch technik.

    </body>
</html>