<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header-common.ejs') %>
    <link rel="stylesheet" href="css/pricing.css">
    <script src="js/pricing.js"></script>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="content">
      <div class="list-group">
        <a class="list-group-item list-group-item-action fb">
          <div class="d-flex w-100 justify-content-between">
              <h4>Prowadzenie mediów społecznościowych na Facebook</h4>
          </div>
          <p>Prowadzenie mediów społecznościowych, regularne posty, kliknij by dowiedzieć się więcej..</p>
        </a>
        <a class="list-group-item list-group-item-action fb">
          <div class="d-flex w-100 justify-content-between">
              <h4>Prowadzenie płatnych kampani reklamowych na Facebook Ads</h4>
          </div>        
          <p>Tworzenie i publikowanie płatnych kampanii reklamowych na Facebook Ads, kliknij by dowiedzieć się więcej..</p>
        </a>
        <a class="list-group-item list-group-item-action insta">
          <div class="d-flex w-100 justify-content-between">
              <h4>Prowadzenie mediów społecznościowych na Instagram</h4>
          </div>
          <p>Prowadzenie mediów społecznościowych, regularne posty, kliknij by dowiedzieć się więcej..</p>
        </a>
        <a class="list-group-item list-group-item-action insta">
          <div class="d-flex w-100 justify-content-between">
              <h4>Prowadzenie płatnych kampani reklamowych na Instagram Ads</h4>
          </div>        
          <p>Tworzenie i publikowanie płatnych kampanii reklamowych na Instagram Ads, kliknij by dowiedzieć się więcej..</p>
        </a>
      </div>

      <div id="pricing">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">
                <div class="text-center">
                  x2
                </div>
              </th>
              <th scope="col">
                <div class="text-center">
                  x4
                </div>
              </th>
              <th scope="col">
                <div class="text-center">
                  x6
                </div>
              </th>
              <th scope="col">
                <div class="text-center">
                  x8
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Opłata miesięczna [netto]
                  </strong>
                  obsługa profilu na Facebooku 
                </div>
              </th>
              <td>
                <div class="text-center">
                  399 zł
                </div>
              </td>
              <td>
                <div class="text-center">
                  699 zł
                </div>
              </td>
              <td>
                <div class="text-center">
                  1 099 zł
                </div>
              </td>
              <td>
                <div class="text-center">
                  1 399 zł
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Projekty grafik i kampanii - dodatkowa początkowa opłata
                  </strong>
                  przygotowanie szablonów graficznych postów, projekt covera, stworzenie treści i grafik reklam, wdrożenie kampanii reklamowych 
                </div>
              </th>
              <td colspan="4" class="text-center">1 x miesięczny abonament </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Liczba postów w tygodniu
                  </strong>
                  każdy ok. 500 zzs., wpisy o produktach, poradach, ciekawostkach
                </div>
              </th>
              <td>
                <div class="text-center">
                  1
                </div>
              </td>
              <td>
                <div class="text-center">
                  2
                </div>
              </td>
              <td>
                <div class="text-center">
                  4
                </div>
              </td>
              <td>
                <div class="text-center">
                  6
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Relacje/Stories w miesiącu
                  </strong>
                </div>
              </th>
              <td>
                <div class="text-center">
                  2
                </div>
              </td>
              <td>
                <div class="text-center">
                  4
                </div>
              </td>
              <td>
                <div class="text-center">
                  6
                </div>
              </td>
              <td>
                <div class="text-center">
                  8
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Sugerowany dodatkowy budżet reklamowy
                  </strong>
                  kwota przeznaczana na promowanie postów, zwiększanie zasięgów
                </div>
              </th>
              <td>
                <div class="text-center">
                  399 - 599 zł
                </div>
              </td>
              <td>
                <div class="text-center">
                  699 - 1 049 zł
                </div>
              </td>
              <td>
                <div class="text-center">
                  1 099 - 1649 zł
                </div>
              </td>
              <td>
                <div class="text-center">
                  1 399 - 2 099 zł
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Kampanie reklamowe w pakiecie
                  </strong>
                  Rodzaje kampanii uruchamianych w ramach budżetu reklamowego 
                </div>
              </th>
              <td colspan="4">
                <div class="text-center">
                  Polubienia profilu, promowanie publikowanych postów. Targetowanie - osoby, które weszły w interakcję z fanpage 
                  i użytkownicy do nich podobni oraz osoby, które weszły na stronę internetową i użytkownicy do nich podobni. 
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Stworzenie strategii komunikacji
                  </strong>
                  analiza marki, określenie grupy docelowej, sposobu oceny efektów  
                </div>
              </th>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Dostęp do zdjęć premium
                  </strong>
                  z banku zdjęć shutterstock
                </div>
              </th>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Integracja piksela konwersji, remarketing
                  </strong>
                </div>
              </th>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Organizacja konkursów
                  </strong>
                  przygotowanie dedykowanego posta, stworzenie regulaminu i zasad 
                </div>
              </th>
              <td>
                <div class="text-center">
                  -
                </div>
              </td>
              <td>
                <div class="text-center">
                  co 2 miesiące
                </div>
              </td>
              <td>
                <div class="text-center">
                  1 raz w miesiącu 
                </div>
              </td>
              <td>
                <div class="text-center">
                  1 raz w miesiącu 
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Projekt covera, grafik postów, wybór emotikon
                  </strong>
                </div>
              </th>
              <td>
                <div class=text-center>
                  &check;</br>
                  (2 szablony postów)
                </div>
              </td>
              <td>
                <div class=text-center>
                  &check;</br>
                  (4 szablony postów) 
                </div>
              </td>
              <td>
                <div class=text-center>
                  &check;</br>
                  (6 szablów postów)
                </div>
              </td>
              <td>
                <div class=text-center>
                  &check;</br>
                  (8 szablów postów)
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Interakcja z fanami
                  </strong>
                  odpowiadanie na komentarze i zapytania: 9-17 w dni robocze [h/mies.] 
                </div>
              </th>
              <td>
                <div class="text-center">
                  0,5 
                </div>
              </td>
              <td>
                <div class="text-center">
                  1
                </div>
              </td>
              <td>
                <div class="text-center">
                  2
                </div>
              </td>
              <td>
                <div class="text-center">
                  3
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Dedykowany opiekun klienta
                  </strong>
                  osoba koordynująca działania i kontakt
                </div>
              </th>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="text-center">
                  <strong>
                    Miesięczny raport
                  </strong>
                  comiesięczne podsumowanie prac, statystyk profilu i kampanii 
                </div>
              </th>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
              <td>
                <div class="text-center">
                  &check;
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>