<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header-common.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>
    <h1>Kurwa</h1>

    <%- include('partials/footer.ejs') %>
  </body>
</html>