<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header-common.ejs') %>
    <link rel="stylesheet" href="css/blog.css">
    <script src="js/blog.js"></script>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <div class="content">
      <div id="parallax-blog-list" class="parallax">
        <div class="center-positioning">
          <div class="parallax-text">
            <span>
              Blog o copywritingu i marketingu treści
            </span>
            <p>
              Dowiedz się z niego czegoś o promocji w sieci
            </p>
          </div>
        </div>
      </div>
      <div class="content-tails">
        
      </div>
    </div>
  </body>
</html>