<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header-common-blog-articles.ejs') %>
    <link rel="stylesheet" href="../../css/blog/articles.css">
    <script src="../../js/blog/articles.js"></script>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>


  </body>
</html>