<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header-common-blog-articles.ejs') %>
    <link rel="stylesheet" href="../../css/blog/articles.css">
    <script src="../../js/blog/articles.js"></script>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <div class="content">
      <div id="parallax-blog-article-why-copywriting" class="parallax"></div>
      <div class="article-title">
        <p>5 powodów dla których postanowiłem zająć się copywritingiem</p>
      </div>
      <div class="article">
        <p>Jeśli nie wiesz czym jest copywriting pozwól, że odeślę Cie do mojego  
          <a href="/blog/what-is-copywriting" target="_blank">
            poprzedniego postu.
          </a>
        </p>
        <p>Tymczasem, poniżej zamieszczam listę pięciu ważnych dla mnie powodów które skłoniły mnie do zajęcia się copywritingiem:</p>
        <p class="bolt">
          1. Jest to dla mnie środek wyrazu, sposób na poszukiwanie lepszego siebie.
        </p>
        <p>
          Reklamy są dla mnie czymś więcej niż sposobem na sprzedaż. Dla niewprawionego i powierzchownego oka, reklama jest czymś oczywistym, rzekomo prostym. 
        </p>
        <p>
          Tymczasem złudna na pierszy rzut oka rzeczywistość skrywa niejednokrotnie bardzo skomplikowany mechanizm którego części można doszukiwać sie w socjologi, psychologi i manipulacji. 
        </p>
        <p>
          Reklama jest demonizowanym przez wielu medium do osiągania nieprzeciętnych rezultatów  dlatego zgłębienie arkanów tej dziedziny nieprzerwanie od wielu lat mnie fascynuję.
        </p>
        <p class="bolt">
          2. Możliwość używania na codzień tzw “języka korzyści” (jest to spójne ze mną samym ponieważ dla mnie szklanka jest zawsze pełna, a świat jest pełen możliwości).
        </p>
        <p>
          Pisanie tekstów sprzedażowych czy projektowanie reklam wiąże się z optymistycznym podejściem do spraw oraz życia ogółem (w końcu kiedy chcemy coś komuś sprzedać to lepiej jest to chwalić niż krytykować, prawda?).
        </p>
        <p class="bolt">
          3. Możliwość bycia “słuchanym” - chodzi o mowe persfazyjną.
        </p>
        <p>
          Reklama nie musi być idealna, reklama nie musi być poprawna, reklama nie musi być powszechnie rozumiana. 
        </p>
        <p>
          Głównym celem reklamy jest przyciągnięcie uwagi nieświadomego jeszcze konusumenta. W celu osiągnięcia takiego rezultatu warto być biegłym w zagadnieniach zakrawających o powszechnie rozumianą psychologię czy socjologię.
        </p>
        <p class="bolt">
          4. Automatyzacja swoich działań.
        </p>
        <p>
          Chyba nikt nie lubi wykonywać w kółko tych samych czynności? Copywriting pozwala na tego rodzaju luksus! Jak nazwa wskazuję – pisanie “copy” czyki kopi która generuję póżniej sprzedaż za nas. Niezależnie czy wykonując swoje zajęcia dnia codziennego, realizujesz się w pracy, spędzasz czas z rodziną czy śpisz – odpowiednio przygotowana reklama będzie generowała dla Ciebie sprzedaż i kontakty z nowymi klientami! 
          <a href="/social-media-pricing" target="_blank">
            Tak się składa, że możemy to przygotować dla Ciebie!
          </a>
        </p>
        <p>
          Moja agencja marketingowa zajmuję się tworzeniem tekstów sprzedażowych, reklam, oraz umieszczaniu ich w odpowiednich miejscach. Kiedy jest to zrobione profesjonalnie, pozostaje czekać na telefony czy maile. Sprzedaż dzieję się bez naszego udziału.
        </p>
        <p class="bolt">
          5. możliwość pracy gdziekolwiek i w obojętnie jakich warunkach.
        </p>
        <p>
          Pomysł na kasową kampanie reklamową czy zmieniający regóły brand image może przyjść w każdej chwili, w obojętnie jakich okolicznościach. 
        </p>
      </div>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>